html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    
    font-family:'Abel', sans-serif;
	font-size: 20px;
}
h1 {
	color: #fff;
	 
    animation-name: rubberBand;
	animation-timing-function: ease;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url('../img/2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}



/*
 * Styles for the deck of cards
 */

.deck {
	width:600px;
	
	padding: 1rem;
	background: rgba(51, 51, 0, 0.5);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 3em;

}

.deck .card {
	margin: 5px;
	opacity: none;
    height: 125px;
    width: 125px;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    background-color: #141154;
	background-image:url("https://i.pinimg.com/originals/f1/d6/78/f1d6781a3e7d9266948917cbdbf2da52.gif");
	background-size: cover;
}

.deck .card.open {
    transform: rotateY(0);
    background: #cc9900;
    cursor: default;
    animation-name: flipInY;
	-webkit-backface-visibility: visible ;
	backface-visibility: visible ;
	animation-duration: 0.75s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: rgba(51, 51, 0);
    font-size: 33px;
    	animation-name: pulse;
	-webkit-backface-visibility: visible ;
	backface-visibility: visible ;
	animation-duration: .75s;
}

.deck .card.unmatched {
	animation-name: rubberBand;
	-webkit-backface-visibility: visible ;
	backface-visibility: visible ;
	animation-duration: .75s;
	background: #cc9900;
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 500px;
    margin-bottom: 10px;
	padding: 10px;
	border-radius:15px;
	color: #fff;
	border: solid #fff 1px;
	box-shadow: 5px 2px 20px 0 rgba(0, 0, 0, 0.5);
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
	
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
.fa-star {
	color: #FFD700;
	text-shadow: 2px 2px 8px #000000; 
}

.timer {
    float: right;
	margin: 0 1rem;
}

/*
 * Styles for congratulations modal
 */


.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}
  
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #304152;
	border-radius: 25px;
	opacity: .75;
	color: white;
	border: 3px solid white;
	width: 60%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'abel' , san-serif;
}
  
.popup h2 {
	margin-top: 0;
font-weight: 3em;
text-align: center;
	
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #E5F720;
}

.popup .content-1{
  font-size: 1em;  
  text-align: center;
  color: #FFD700;
  text-shadow: 2px 2px 8px #000000; 
}

.content-2 {
	
	overflow: auto;
	text-align: center;
    font-size: 1em;
}

.show {
	visibility: visible ;
	opacity: 100 ;
}

#starRating li {
	display: inline-block;
}

#play-again {
	background-color: #141214;
	padding: 0.3rem 0.2rem;
	font-size: 1rem;
	display: block;
	margin: 0 auto;
	width: 25%;
	
	color: #ffffff;
	border-radius: 5px;
}

/* animations */
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	to {
		transform: perspective(400px);
	}
}

@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, .95, 1);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.3, 1.3, 1.3);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}
 /* footer 
 */
footer{
  width:absolute;
  
  border-radius: 15px;
  
  
}
.s-icon {
 	padding: 10px;
    box-shadow: 5px 2px 20px 0 rgba(255, 255, 255, 0.25);
	width:45px;
	height:45px;
}

/*____________ tablet______________________________*/
@media screen and (max-width: 768px){
	body{
		font-size: 2rem;
		
	}
	.container{
		background-color: #333;
		width: 100%;
		height: 100%;
		
	}

	.deck{
		width: 600px;
		
	}
.score-panel{
	widows: 600px;
	font-size: 1.5rem;
}

}
/*____________ small phones______________________________*/
@media screen and (max-width: 360px){
body {
    font-family:'Abel', sans-serif;
	font-size: 10px;
	}

.container{
	background-color: #333;
	height: 100%;
	background-repeat: no-repeat;
    background-size: cover;

	font-size: 16px;
}
.score-panel .restart {
margin-right: 5px;
}
.deck{
	width: 300px;
	height: 300px;
}
.deck .card {
	margin: 0;
	width: 60px;
	height: 60px;	
}

.score-panel{
	width: 300px;
	font-size: 16px;
}

.timer{
	margin: 0;
}
}